amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.23
blessings==1.6.1
bpython==0.17.1
celery==3.1.26.post2
certifi==2018.4.16
chardet==3.0.4
curtsies==0.3.0
Django==2.0.6
django-celery==3.2.2
greenlet==0.4.13
idna==2.6
kombu==3.0.37
Pygments==2.2.0
pytz==2018.4
requests==2.18.4
six==1.11.0
sqlparse==0.2.4
typing==3.6.4
unicodecsv==0.14.1
urllib3==1.22
wcwidth==0.1.7
